{% extends 'base.html.twig' %}

{% block styleBody %}class="back-home"
{% endblock %}

{% block body %}
    <section class="back-blur">
        <div id="back-hover">
            <main class="main-home container">
                <div class="logo-sotm">
                    <a class="logo-sotm-text navbar-brand d-flex flex-row justify-content-center align-items-center" href="{{ path('app_song_list') }}">
                        <h1 class="home-logo-h1">Song</h1>
                        <div class="d-flex flex-column">
                            <p class="home-logo-p sotm-text-p">of</p>
                            <p class="home-logo-p sotm-text-p">the</p>
                        </div>
                        <h1 class="home-logo-h1">Moment</h1>
                    </a>
                </div>

                <div class="quote mb-3 mt-4">
                    <h2 class="text-center">« La musique est la langue des émotions. »</h2>
                    <h3 class="text-center font-italic">Emmanuel Kant</h3>
                </div>

                <div class="row d-flex flex-row justify-content-center mt-5">
                    {% for song in songs %}
                        <div class="card-deck col-6 col-md-4 col-lg-3 col-xl-2">
                            <a href="{{ path('app_song_show', {'slug': song.slug}) }}">
                                <div class="list-album card shadow">
                                    <img src="{{ song.photoAlbum }}" class="list-photo-album card-img-top" alt="Photo album">
                                    <div class="list-infos d-flex flex-column">
                                        <p>{{ song.title }}</p>
                                        <p class="list-infos-artist">{{ song.artist }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </section>

{% endblock %}
