{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block styleBody %}class="back-home"
{% endblock %}

{% block body %}
    <main class="back-blur">
        <div id="back-hover">
            <section class="d-flex flex-column justify-content-center vh-100">
                <h2 class="text-center m-0">Inscription</h2>

                <div class="d-flex justify-content-center">
                    {{ form_start(registrationForm, {'attr': {'class': 'col-11 col-md-7 col-lg-5 form-login d-flex flex-column'}}) }}
                    {{ form_row(registrationForm.username, {
                    label: 'Email', 'label_attr': {'class': 'form-label'},
                    'attr': {'class': 'form-control'}
                    }) }}
                    {{ form_row(registrationForm.password, {
                    label: 'Mot de passe', 'label_attr': {'class': 'form-label'},
                    'attr': {'class': 'form-control'}
                    }) }}
                    <p class="mt-2 mb-0">Quel est votre date de naissance ?</p>
                    {{ form_errors(registrationForm.birthDay) }}
                    <div class="d-flex flex-row justify-content-around mb-2">
                        <div class="date-input">
                            {{ form_label(registrationForm.birthDay, 'Jour', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.birthDay, {'attr': {'class': 'form-control no-spinners'}}) }}
                        </div>
                        <div class="date-input">
                            {{ form_label(registrationForm.birthMonth, 'Mois', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.birthMonth, {'attr': {'class': 'form-control no-spinners'}}) }}
                        </div>
                        <div class="date-input">
                            {{ form_label(registrationForm.birthYear, 'Année', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(registrationForm.birthYear, {'attr': {'class': 'form-control no-spinners'}}) }}
                        </div>
                    </div>
                    {{ form_row(registrationForm.agreeTerms, {
                    label: "J\'accepte les conditions d\'utilisations", 'label_attr': {'class': 'form-label'}
                    }) }}

                    <button type="submit" class="button btn align-self-center">Inscription</button>
                    {{ form_end(registrationForm) }}
                </div>
            </section>
        </div>
    </main>
{% endblock %}
