{% extends 'base.html.twig' %}

{% block title %}Ajouter des nouveaux sons{% endblock %}
{% block styleBody %}class="back-home"
{% endblock %}

{% block body %}
<section class="back-blur">
    <div id="back-hover">
        <main class="main-searchApi mx-4">
            <h2 class="text-center">Ajouter des nouveaux sons</h2>
            <form action="{{ path('api_search_song') }}" method="post" class="mb-4">
                <div class="form-row">
                    <div class="form-group d-flex justify-content-end col-9 col-md-7 col-lg-5 col-xl-3 m-auto">
                        <div class="input-group d-flex flex-column">
                            <div>
                                <input
                                    name="q"
                                    type="search"
                                    class="search-input form-control"
                                    placeholder="rechercher un titre ..."
                                >
                            </div>
                        </div>
                        <button type="submit" class="search-buttton btn">
                            <svg xmlns="http://www.w3.org/2000/svg" class="search-svg bi bi-search" viewbox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>

            <div id="search-results">
                {% if results is not empty %}
                    <p class="fst-italic text-center text-success">cliquez sur les sons que vous souhaitez ajouter</p>
                    <div class="row d-flex flex-row justify-content-center mt-2">
                        {% for result in results %}
                            <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-4">
                                <div
                                    class="card-api card mb-4 rounded-4 shadow-lg d-flex flex-row bg-transparent shadow-lg"
                                    data-title="{{ result.title }}"
                                    data-artist="{{ result.artist.name }}"
                                    data-album="{{ result.album.title }}"
                                    data-cover="{{ result.album.cover_big }}"
                                >
                                    <div>
                                        <img src="{{ result.album.cover_big }}" class="card-api-img" alt="image artiste">
                                    </div>
                                    <div class="card-api-text d-flex align-items-left justify-content-center d-flex flex-column p-2 d-inline-block text-light text-truncate">
                                        <h5 class="d-inline-block text-truncate">{{ result.title }}</h5>
                                        <p class="m-0 d-inline-block text-truncate">{{ result.artist.name }}</p>
                                        <p class="m-0 d-inline-block text-truncate">{{ result.album.title }}</p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <h2 class="text-center">Aucun résultat</h2>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </main>
    </div>
</section>
{% if results is not empty %}
    <div class="text-center fixed-button-container">
        <button id="add-selected" class="button-approved btn mb-4">Ajouter des sons</button>
    </div>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('search_api') }}
{% endblock %}

