{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block styleBody %}class="backome"
{% endblock %}

{% block body %}
	<section class="backblur">
		<div id="backover">
			<main class="form-main-login container">

				<h2 class="text-center">Connexion</h2>

				{% if error %}
					<div class="row d-flex justify-content-center">
						<div class="col-11 col-md-7 col-lg-5 text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					</div>
				{% endif %}

				<div class="d-flex justify-content-center">
					<form action="{{ path('app_login') }}" method="post" class="col-11 col-md-7 col-lg-5 form-login d-flex flex-column">
						<label class="form-label" for="username">Pseudo</label>
						<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">

						<label class="form-label" for="password">Mot de passe</label>
						<input
						class="form-control" type="password" id="password" name="_password">

						{# <input type="hidden" name="_target_path" value="{{ path('app_home') }}"> #}
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


						<button type="submit" class="button btn align-self-center">Connexion</button>
					</form>
				</div>

				<h4 class="text-center">Vous n'avez pas encore de compte ?</h4>
				<h4>
					<a class="link-register nav-link text-success text-center" href="{{ path('app_register') }}">
						Inscrivez-vous ici !
					</a>
				</h4>

			</main>
		</div>
	</section>
{% endblock %}
