<main class="back-blur">
    <div id="back-hover">
        <section class="d-flex flex-row align-items-center vh-100">
            <div class="row col-12 justify-content-center m-0">
                <div class="col-10 d-flex flex-column flex-md-row justify-content-center align-items-center">
                    <img class="photo-song-show shadow" src="{{ asset('songs/covers/' ~ song.photoAlbum) }}" alt="Photo album"/>
                    <div class="details-song-show d-flex flex-column align-items-center">
                        <h2>{{ song.title }}</h2>
                        <p class="text-song-details">
                            {{ song.artist }}
                            -
                            {{ song.album }}
                        </p>

                        {% if app.user %}
                            <div class="col-4 d-flex justify-content-around">
                                <a class="favorite" href="{{ path('app_song_add_favorite', {songId: song.id})}}">
                                    <i class="heart-favorite bi {{ app.user.isInFavorite(song) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
                                </a>
                                <a class="playlist-popup" data-playlist-url="{{ path('playlist_popup', {'songId': song.id}) }}">
                                    <i class="icon-playlist bi bi-music-note-list"></i>
                                </a>
                            </div>
                        {% else %}
                            <div class="col-4 d-flex justify-content-around">
                                <a href="{{ path('app_login') }}">
                                    <i class="heart-favorite bi bi-heart"></i>
                                </a>
                                <a href="{{ path('app_login') }}">
                                    <i class="icon-playlist bi bi-music-note-list"></i>
                                </a>
                            </div>
                        {% endif %}

                        <div id="YouTube-player" class="d-none"></div>
                        <input class="d-none" id="YouTube-video-id" type="text" value="{{ song.linkYoutube }}" size="12" pattern="[_\-0-9A-Za-z]{11}" onchange="youTubePlayerChangeVideoId();">
                        <div class="d-flex flex-row justify-content-center button-player d-none">
                            <div id="play">
                                <svg xmlns="http://www.w3.org/2000/svg" class="youtube-play bi bi-play-fill" viewbox="0 0 16 16">
                                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                </svg>
                            </div>
                            <div id="pause">
                                <svg xmlns="http://www.w3.org/2000/svg" class="youtube-pause bi bi-pause-fill" viewbox="0 0 16 16">
                                    <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>
                                </svg>
                            </div>
                            <div id="stop">
                                <svg xmlns="http://www.w3.org/2000/svg" class="youtube-stop bi bi-stop-fill" viewbox="0 0 16 16">
                                    <path d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z"/>
                                </svg>
                            </div>
                        </div>

                        <input class="d-none" id="YouTube-player-progress" type="range" value="0" min="0" max="100" onchange="youTubePlayerCurrentTimeChange(this.value);" oninput="youTubePlayerCurrentTimeSlide();">

                        <div class="framed d-none">
                            <div id="YouTube-player-infos"></div>
                            <div id="YouTube-player-errors"></div>
                        </div>
                    </div>
                </div>

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="fixed-bottom d-flex flex-row p-3">
                        <a href="{{ path('app_song_index') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="logo-admin-svg bi bi-arrow-return-left" viewbox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </a>
                        <div class="d-flex flex-row align-items-center">
                            <a href="{{ path('app_song_update', {'id': song.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="logo-admin-svg bi bi-pencil" viewbox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>
                            {{ include('song/_delete.html.twig') }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
</main>
