{% extends 'base.html.twig' %}

{% block title %}Song index
{% endblock %}

{% block styleBody %}class="backlist"
{% endblock %}

{% block body %}
	<section class="backblur">
		<main class="song-list p-3">
			<form action="{{ path('app_song_list') }}" method="post" class="mt-3 mb-4">
				<div class="form-row formSearchOffer d-flex flex-column flex-md-row align-items-center">
					<div class="searchCandidate form-group col-12 col-md-6 mb-2 mb-md-0 cleanSearchInput">
						<input type="text" name="title" class="form-control" placeholder="Rechercher un titre">
						<button type="submit" class="btn text-white rounded-0 buttonSearchOffer">Rechercher</button>
					</div>
				</div>
			</form>

			<div class="row d-flex flex-row justify-content-center">
				{% for song in songs %}
					<div class="card-deck col-6 col-md-4 col-lg-3 col-xl-2">
						<a href="{{ path('app_song_show', {'id': song.id}) }}">
							<div class="list-album card">
								<img src="{{ song.photoAlbum }}" class="card-img-top">
								<div class="list-infos d-flex flex-column">
									<p>{{ song.title }}</p>
									<p class="list-infos-artist">{{ song.artist }}</p>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</main>
	</section>


{% endblock %}
