{{ form_start(createPlaylistForm, {'attr': {'id': 'createPlaylistForm'}}) }}
<div class="d-flex flex-column">
    {{ form_label(createPlaylistForm.name) }}
    {{ form_widget(createPlaylistForm.name, {'attr': {'class': 'test'}}) }}
</div>
{{ form_errors(createPlaylistForm) }}
{{ form_end(createPlaylistForm) }}

<a id="playlist-new-add" data-playlist-new-add-url="{{ path('playlist_new_add', {'songId': song.id}) }}">
    <i class="icon-validate bi bi-check-circle"></i>
</a>
