<div class="sticky-popup-new d-flex sticky-top justify-content-end top-0 p-2">
    <a id="playlist-popup-new" data-playlist-new-url="{{ path('playlist_popup_new', {'songId': songId, }) }}">
        <div class="d-flex flex-row">
        <i class="icon-new-popup bi bi-plus"></i>
        <h4 class="m-0">Nouvelle Playlist</h4>
        </div>
    </a>
</div>
<div class="row">
    <div class="d-flex flex-column">
        {% for element in collection %}
            <div class="d-flex col-12 p-1">
                <div class="d-flex flex-row flex-wrap rounded img-popup-big">
                    {% if element.songs|length == 0 %}
                        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center img-popup-big">
                            <i class="favorites-icon bi bi-music-note-list text-white"></i>
                        </div>
                    {% elseif element.songs|length < 4 %}
                        {% for song in element.songs %}
                            {% if loop.index == 1 %}
                                <img src="{{ asset('songs/covers/' ~ song.photoAlbum) }}" alt="song image" class="img-fluid img-popup-big">
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for song in element.songs %}
                            <img src="{{ asset('songs/covers/' ~ song.photoAlbum) }}" alt="song image" class="img-fluid img-popup-little">
                        {% endfor %}
                    {% endif %}
                </div>
                <a class="playlist-collection" data-playlist-id-url="{{ path('playlist_add_song', {'playlistId': element.playlist.id, 'songId': songId, }) }}">
                    {{ element.playlist.name }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
