<nav class="navbar navbar-expand-lg navbar-light fixed-top px-4">
	<div class="logo-sotm">
		<a class="logo-sotm-text navbar-brand d-flex flex-row align-items-center" href="{{ path('app_home') }}">
			<h3>Song</h3>
			<div class="d-flex flex-column">
				<p class="sotm-text-p">of</p>
				<p class="sotm-text-p">the</p>
			</div>
			<h3>Moment</h3>
		</a>
	</div>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<svg xmlns="http://www.w3.org/2000/svg" class="menu-toggler-icon bi bi-list" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
		</svg>
	</button>

	<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto align-items-end">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_song_list') }}">Tout les sons</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('app_song_random') }}">Son Aléatoire
				</a>
			</li>

			{% if app.user %}
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('app_user_favorites') }}">Mes Favoris
					</a>
				</li>
			{% else %}
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('app_login') }}">Mes Favoris
					</a>
				</li>
			{% endif %}

			{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item active">
					<a class="nav-link nav-link-admin text-danger" href="{{ path('app_song_index') }}">Panneau Admin
					</a>
				</li>
			{% endif %}

			{% if app.user %}
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion
					</a>
				</li>
			{% else %}
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('app_login') }}">Connexion
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
