{% extends 'base.html.twig' %}

{% block title %}Mes Favoris
{% endblock %}

{% block styleBody %}class="backome"
{% endblock %}

{% block body %}
	<section class="backblur">
		<div id="backover">
			<main class="main-favorite">
				<h2 class="text-center">Mes Favoris</h2>
				<div class="row justify-content-center">
					<div class="col-10 d-flex flex-column flex-md-row justify-content-center align-items-center">
						<div class="details-song-show d-flex flex-column align-items-center">
							<div id="YouTube-player" class="d-none"></div>
							<img id="Album-photo-id" src="{{ asset('build/images/transparent.png') }}">
							<input class="d-none" id="YouTube-video-id" type="text" value="" size="12" pattern="[_\-0-9A-Za-z]{11}" onchange="youTubePlayerChangeVideoId();">
							<div class="d-flex flex-row justify-content-center button-player m-3">
								<div id="play">
									<svg xmlns="http://www.w3.org/2000/svg" class="youtube-play bi bi-play-fill" viewbox="0 0 16 16">
										<path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
									</svg>
								</div>
								<div id="pause">
									<svg xmlns="http://www.w3.org/2000/svg" class="youtube-pause bi bi-pause-fill" viewbox="0 0 16 16">
										<path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>
									</svg>
								</div>
								<div id="stop">
									<svg xmlns="http://www.w3.org/2000/svg" class="youtube-stop bi bi-stop-fill" viewbox="0 0 16 16">
										<path d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z"/>
									</svg>
								</div>
							</div>
							<input id="YouTube-player-progress" type="range" value="0" min="0" max="100" onchange="youTubePlayerCurrentTimeChange(this.value);" oninput="youTubePlayerCurrentTimeSlide();">
							<div class="framed d-none">
								<div id="YouTube-player-infos"></div>
								<div id="YouTube-player-errors"></div>
							</div>
						</div>
						<div class="playlist">
							{% for favorite in app.user.favorites %}
								<div class="song-on-playlist d-flex flex-row align-items-center my-3" onclick="document.getElementById('YouTube-video-id').value='{{ favorite.linkYoutube }}'; document.getElementById('Album-photo-id').src='{{ favorite.photoAlbum }}'; youTubePlayerChangeVideoId();">
									<img class="photo-song-playlist shadow" src="{{ favorite.photoAlbum }}"/>
									<div class="text-song-playlist d-flex flex-column">
										<h5 class="my-1">{{ favorite.title }}</h5>
										<p class="my-1">{{ favorite.artist }}</p>
									</div>
								</div>
							{% else %}
								<h2 class="text-center">Aucun favori</h2>
							{% endfor %}
						</div>
					</div>
				</div>

			</main>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/youtube.js') }}"></script>
{% endblock %}
