{% extends 'base.html.twig' %}

{% block title %}Coup de coeur
{% endblock %}

{% block styleBody %}class="back-home"
{% endblock %}

{% block body %}
    <div id="back-hover">
        <main class="main-favorite">
            <div class="list-song row col-11 m-0 d-flex justify-content-center mx-auto" id="favoriteContent">
                <div class="d-flex align-items-center">
                    <i class="text-danger heart-favorite bi bi-heart-fill m-2"></i>
                    <h3 class="m-0">Coup de coeur -&nbsp;</h3>
                    <h3 id="favorite-length" class="m-0">{{ app.user.favorites|length }}</h3>
                    <h3 class="m-0">&nbsp;Titres</h3>
                </div>
                <table class="col-12">
                    <tbody>
                        {% for song in app.user.favorites %}
                            <tr
                                class="playlist-line link_id song-on-playlist"
                                data-photo="{{ song.photoAlbum }}"
                                data-youtube="{{ song.linkYoutube }}"
                                data-title="{{ song.title }}"
                                data-artist="{{ song.artist }}"
                            >
                                <td>
                                    <img class="photo_song_id photo-song-playlist shadow p-2" src="{{ song.photoAlbum }}" alt="Photo album"/>
                                </td>
                                <td class="d-flex flex-column m-2 d-lg-none">
                                    <h5>{{ song.title }}</h5>
                                    <small class="text-muted">{{ song.artist }} - {{ song.album }}</small>
                                </td>
                                <td class="d-none d-lg-table-cell">
                                    {{ song.title }}
                                </td>
                                <td class="d-none d-lg-table-cell">
                                    {{ song.artist }}
                                </td>
                                <td class="d-none d-lg-table-cell">
                                    {{ song.album }}
                                </td>
                                <td class="dropdown-icon">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary bg-transparent border-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="playlist-line-icon bi bi-three-dots"></i>
                                        </button>
                                        <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton1">
                                            <li>
                                                <a class="favorite-delete dropdown-item text-white link-dark" href="{{ path('app_song_add_favorite', {songId: song.id})}}">
                                                    Retirer des favoris
                                                </a>
                                            </li>
                                            <li>
                                                <a class="playlist-popup dropdown-item text-white link-dark" data-playlist-url="{{ path('playlist_popup', {'songId': song.id}) }}">
                                                    Ajouter à une playlist
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <h3 class="text-center">Vous n'avez pas encore de coup de coeur</h3>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if app.user.favorites is not empty %}
                <div class="row">
                    {% include 'user/_player.html.twig' %}
                </div>
            {% endif %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('favorite') }}
    {{ encore_entry_script_tags('playlist') }}
    <script src="{{ asset('js/youtube.js') }}"></script>
{% endblock %}
