{% extends 'base.html.twig' %}

{% block title %}Mes Sons
{% endblock %}

{% block styleBody %}class="back-home"
{% endblock %}

{% block body %}
    <div id="back-hover">
        <main class="main-favorite mx-5">
            <div class="row col-12 d-flex flex-row justify-content-center m-0">
                <a class="text-decoration-none" id="favorites" href="{{ path('app_user_favorite') }}">
                    <div class="heart-song card d-flex flex-row border-1 shadow-lg m-5 p-0 bg-transparent">
                        <div class="d-flex flex-row align-items-center">
                            <div class="d-flex flex-row flex-wrap justify-content-center align-items-center heart-img">
                                <i class="favorites-icon bi bi-heart-fill"></i>
                            </div>
                            <h3 class="m-0 heart-text text-center text-light">Coups de coeur</h3>
                        </div>
                    </div>
                </a>
                <h3>
                    {% if collection is not empty %}
                        {{ collection|length }}
                    {% endif %}
                    Playlists
                </h3>
                {% for element in collection %}
                    <div class="favorites-card card col-4 border-0 shadow-lg m-4 p-0 bg-transparent">
                        <a class="text-decoration-none" href="{{ path('playlist_show', {'slug': element.playlist.slug}) }}">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row flex-wrap img-big">
                                    {% if element.songs|length == 0 %}
                                        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center img-big bg-dark">
                                            <i class="favorites-icon bi bi-music-note-list text-white"></i>
                                        </div>
                                    {% elseif element.songs|length < 4 %}
                                        {% for song in element.songs %}
                                            {% if loop.index == 1 %}
                                                <img src="{{ asset('songs/covers/' ~ song.photoAlbum) }}" alt="song image" class="img-fluid img-big">
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for song in element.songs %}
                                            <img src="{{ asset('songs/covers/' ~ song.photoAlbum) }}" alt="song image" class="img-fluid img-little">
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="d-flex flex-row justify-content-center border-1">
                                    <p class="favorites-link text-center m-0">{{ element.playlist.name }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <h3 class="ml-5 text-center">Vous n'avez pas encore de playlist</h3>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}
