{% extends 'base.html.twig' %}

{% block title %}{{ playlist.name }}
{% endblock %}

{% block styleBody %}class="back-home"
{% endblock %}

{% block body %}
    <div id="back-hover">
        <main class="main-favorite">
            <div class="list-song row col-11 m-0 d-flex justify-content-center pb-5 mx-auto" id="favoriteContent">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <i class="icon-playlist bi bi-music-note-list m-2"></i>
                        <h3 class="m-0">{{ playlist.name }} -&nbsp;</h3>
                        <h3 id="playlist-length" class="m-0">{{ playlist.songs|length }}</h3>
                        <h3 class="m-0">&nbsp;Titres</h3>
                    </div>
                    <div>
                        {{ include('playlist/_delete.html.twig') }}
                    </div>
                </div>
                <table class="col-11">
                    <thead class="thead-playlist">
                    <tr>
                        <th class="lead p-2">TITRE</th>
                        <th class="lead p-2">ARTISTE</th>
                        <th class="lead p-2">ALBUM</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for song in playlist.songs %}
                        <tr
                            class="playlist-line link_id song-on-playlist"
                            data-photo="{{ song.photoAlbum }}"
                            data-youtube="{{ song.linkYoutube }}"
                            data-title="{{ song.title }}"
                            data-artist="{{ song.artist }}"
                        >
                            <td>
                                <img class="photo_song_id photo-song-playlist shadow p-2" src="{{ song.photoAlbum }}" alt="Photo album"/>
                                {{ song.title }}
                            </td>
                            <td>
                                {{ song.artist }}
                            </td>
                            <td>
                                {{ song.album }}
                            </td>
                            <td class="dropdown-icon">
                                <div class="dropdown">
                                    <button class="btn btn-secondary bg-transparent border-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" onclick="event.stopPropagation()">
                                        <i class="playlist-line-icon bi bi-three-dots"></i>
                                    </button>
                                    <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a  class="playlist-popup dropdown-item text-white link-dark"
                                                data-playlist-url="{{ path('playlist_popup', {'songId': song.id}) }}">
                                                Ajouter à une playlist
                                            </a>
                                        </li>
                                        <li>
                                            <a  class="song-delete dropdown-item text-white link-dark"
                                                data-remove-song-url="{{ path('playlist_delete_song', {'songId': song.id, 'playlistId': playlist.id}) }}">
                                                Supprimer de la playlist
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row">
                {% include 'user/_player.html.twig' %}
            </div>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('favorite') }}
    {{ encore_entry_script_tags('playlist') }}
    <script src="{{ asset('js/youtube.js') }}"></script>
{% endblock %}
